@CHARSET "UTF-8";

#mapid {
	height: 450px;
	width: 800px;
}

#container {
    width: 1200px;
    margin: auto;
}

/*#map {
	height: 500px;
	width: 800px;
}*/
#map {
	height: 500px;
	width: 800px;
}


.mapdiv {
	height: 500px;
	width: 800px;
	float: left;
}


/*What we want for the results map shown*/
/* .mapdiv {
	/*height: 200px;*/
	/*width: 200px;*/
	height: 600px;
	width: 800px;
	/*float: right;*/
}*/


.propertymapdiv {
	height: 250px;
	width: 35%;
	float: right;
}

#newDiv {
	height:800px;
	width: 350px;
	float: right;
}

.searchResultsPompeii{
	height:150px;
	width:200px;
	margin-top:160px;
	margin-left:715px;
	float:right;
	border: 3px solid #800000;
	position:absolute;
}

.findspotMap{
	height:200px;
	width:250px;
	margin-top:160px;
	margin-left:715px;
	float:right;
	border: 3px solid #800000;
	position:absolute;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	max-width: 100%;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

#moreInfo {
	height: 100px;
	width: 200px;
}