@CHARSET "UTF-8";




/*Used in propertyInfo.js,vii.12_map.xml(?),pompeiiMap.xml,i.8_map.xml,
herculaneum_map.xml,search.jsp(really? No stylesheet link here shown)*/

#map {
	height: 500px;
	width: 800px;
}

/*Used in pompeiiMap.jsp,searchPompeii.jsp*/

.mapdiv {
	height: 500px;
	width: 800px;
	float: left;
}

/*Used in pompeiiMap.jsp,and searchPompeii.jsp */

#newDiv {
	height:800px;
	width: 350px;
	float: right;
	margin-left:850px;
	position:absolute;
}

/*Used in searchResults.js[ fpr the pompeiimap*/

.searchResultsPompeii{
	height:250px;
	width:300px;
	margin-top:0px;
	margin-left:715px;
	float:right;
	border: 3px solid #800000;
	position:absolute;
}

/*Used in searchResults.js[ fpr the herculaneum*/

.searchResultsHerculaneum{
	height:250px;
	width:300px;
	margin-top:300px;
	margin-left:715px;
	float:right;
	border: 3px solid #800000;
	position:absolute;
}




/*Used in moreGraffitoInformation.jsp*/

.findspotMap{
	height:400px;
	width:500px;
	float:right;
	position:relative;
	border: 3px solid #800000;
}

/*Used in ?*/

.info h4 {
	margin: 0 0 5px;
	 color: #777; 
	
}

/*Used in searchPompeii.jsp*/

#moreInfo {
	height: 100px;
	width: 200px;
}